# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Maven
target/
# Разрешаем коммитировать только JaCoCo отчёт
!target/site/
!target/site/jacoco/
!target/site/jacoco/**
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Logs
*.log
